<!DOCTYPE html>
<html ng-app="unibuddyTimetable" ng-controller="AppCtrl">
<head>
    <!--
    I see you there. Inspecting my source :)

    Want to see an unminified version of the JS? Maybe contribute? Head on over to either
        http://trunk.timetable.unibuddy.com.au
    to view the latest unminified version or
        https://github.com/TobiasWooldridge/UniBuddyTimetable
    to contribute :)
    -->
    <base href="/">

    <title ng-bind="pageTitle"></title>


    <meta property="og:title" content="UniBuddy University Timetable Planner"/>
    <meta property="og:description" content="Select your classes, and then generate the ideal timetable for next semester."/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://flinderstimetable.tobias.pw/assets/images/timetable.png"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

    <meta property="description" content="UniBuddy's Timetable Planner enables you to input your classes and your best possible timetable for the coming semester with ease."/>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" type="image/png" href="/assets/images/favicon.png">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>

<header class="container">
    <div class="page-header">
        <h1>UniBuddy Unofficial University Timetable Planner</h1>
    </div>

    <noscript>
        <div class="alert alert-danger">
            It looks like you have JavaScript disabled. Please re-enable JavaScript and reload the page to use
            the timetable generator!
        </div>
    </noscript>
</header>



<div class="pages">
    <div class="container">
        <h2>Just a few simple steps</h2>

        <p>Use this tool to find the ideal timetable for next semester</p>
        <ol>
            <li>Choose which semester you're planning for</li>
            <li>Choose your topics</li>
            <li>Order your criteria for an ideal table (maximize number of days free, minimize time spent at
                university, etc.)
            </li>
            <li>Click &quot;Generate Timetables&quot; and choose your ideal planned timetable</li>
            <li>Choose one or more alternative timetables in case you are unable to get into the class of choice</li>
        </ol>
    </div>
</div>


<div class="pages" ui-view="main">
<div class="container alert alert-danger" role="alert">Unfortunately, UniBuddy doesn't support your web browser. Please consider using an alternative browser such as the latest version of Google Chrome, Firefox or Internet Explorer, or try using UniBuddy on your tablet/iPad.<br /><br /> If this doesn't resolve the issue please contact us.</div>
</div>

<footer class="container">
    <hr/>
    <p>Made by <a target="_blank" href="http://tobias.wooldridge.id.au/">Tobias Wooldridge</a> (<a
            href="mailto:tobias@wooldridge.id.au">email me</a>) with contributions from
        <a target="_blank" href="https://github.com/rdpeake">Russell Peake</a> and <a target="_blank" href="https://github.com/0xadam">Adam Rigg</a>. Want to help develop UniBuddy?
        <a target="_blank" href="https://github.com/TobiasWooldridge/FlindersTimetable">It's open source!</a></p>

    <p class="copy">While we try our best to be right, we don't offer any guarantee that the site will work or anything on it is correct.</p>
    <p class="copy">Be aware that you may not be able to get your ideal timetable even if the timetable planner says a class is not full. If there are issues, contact us on <a target="_blank"
            href="https://www.facebook.com/timetableplanner">Facebook</a>.</p>
</footer>

</body>
</html>
